@import '../node_modules/bootstrap/scss/bootstrap'

h1
    color: pink
    
.list-article
    max-height: 220px
    overflow: hidden
    
.one-line
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis